@import "compass/css3";
@import "compass/utilities/sprites";
@import "compass/utilities/general/clearfix";
@import "susy";

@import "vendor/normalize";
@import "partials/config";
@import "partials/mixins";
@import "partials/fonts";

@import "icons/*.png";

/* main stylesheet */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}
body {
	font: 16px $body-font;
	line-height: 1.4;;
	margin: 0;
	a {
		color: $link-color;
		text-decoration: none;
		&:hover, &:active {
			color: $active-color;
			@include transition(color 0.3s ease);
		}
	}
}
h1, h2, h3, h4 {
	font-family: $header-font;
	font-weight: normal;
}
h1 {
	text-transform: uppercase;
}
p, ul, ol, label {
	color: $light-neutral;
}
li > ul, li > ol {
	margin-top: 0;
}

.container {
	@include container(12);
}

nav {
	.menu-item {
		font: 20px $header-font;
		text-align: center;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 0;
		}
	}
	a {
		text-decoration: none;
	}
}

.menu-slider {
	position: absolute;
	left: 0;
	z-index: 1;
	nav {
		width: 220px;
		ul li {
			border-top: 1px solid white;
			&:first-child { border-top-width: 0; }
			ul {
				display: none;
				li {
					background-color: $brand-color;
					a { height: 38px; }
					&:first-child { border-top-width: 1px; }
				}
			}
			&.on ul { display: list-item; }
			a {
				display: block;
				color: white;
				height: 68px;
				text-transform: uppercase;
				vertical-align: middle;
				&:before {
					content: "";
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				&:hover, &:active {
					color: $active-color;
				}
			}
		}
		.nav-background {
			background-color: $link-color;
			position: fixed;
			top: 0;
			bottom: 0;
			width: 220px;
			z-index: -1;
		}
	}
}

.main {
	background: white;
	min-height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10;
	@include box-shadow(3px -10px 10px black);
	@include transition(all 0.3s ease);
	.menu-active & {
		@include translateX(220px);
		.no-csstransforms & { left: 220px; }
	}
}

.header-container {
	background-color: white;
	a {
		color: white;
		line-height: 1;
		text-decoration: none;
	}
}
header {
	.menu-button {
		display: inline-block;
		margin-right: 10px;
		@include transition(background-color 0.3s ease);
		.menu-active & { background-color: $link-color; }
		a {
			border-right: 1px solid $light-neutral;
			border-bottom: 1px solid white;
			display: block;
			height: 68px;
			padding: 0 12px;
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			span {
				display: inline-block;
				height: 28px;
				overflow: hidden;
				text-indent: -999px;
				width: 39px;
				vertical-align: middle;
				@include icons-sprite(menu-burger);
			}
		}
	}
	.title-container {
		display: inline-block;
		vertical-align: middle;
		.title {
			@include icons-sprite(nhcohen-logo);
			height: 53px;
			margin: 0;
			overflow: hidden;
			text-indent: -9999px;
			width: 203px;
		}
	}
	nav  {
		display: none;
	}
}
.banner-container {
	background-color: $brand-color;
	position: relative;
	width: 100%;
	&.big {
		position: relative;
	}
	.hero-container {
		height: 220px;
		position: relative;
	}
	.bg-container {
		z-index: 0;
		background-size: cover;
		background-position: center top;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include bg-respond('about_us-banner');
		.home & {
			background-position: center bottom;
			@include bg-respond('hero-banner');
		}
	}
	.notice-container {
		background-color: $brand-color;
		padding: 5px 0;
		width: 100%;
		z-index: 3;
		.title {
			color: white;
			font: 18px $header-font;
			display: inline-block;
			float: none;
			vertical-align: middle;
		}
		.notice {
			display: inline-block;
			float: none;
			font-size: 14px;
			vertical-align: middle;
			a {
				color: $link-color;
				@include transition(color 0.3s ease);
				&:hover, &:active { color: $active-color; }
			}
		}
	}
	.hero-text {
		@include span(12 of 12);
		color: white;
		font-family: $header-font;
		margin-top: 40px;
		position: relative;
		text-transform: uppercase;
		h2 {
			margin: 0;
			font-size: 22px;
			text-shadow: 2px 2px 8px $dark-neutral;
		}
		.hero-cta {
			background-color: $link-color;
			color: white;
			display: inline-block;
			font-size: 16px;
			letter-spacing: 1px;
			margin-top: 15px;
			padding: 13px 50px 11px;
			@include transition(background 0.3s ease);
			&:hover, &:active {
				background-color: $active-color;
			}
		}
	}
	.sub-nav {
		ul {
			li {
				float: left;
				margin-right: 30px;
				a {
					border-bottom: 6px solid transparent;
					color: white;
					display: block;
					line-height: 23px;
					padding: 26px 0 20px;
					@include transition(border 0.3s ease, color 0.3s ease);
					&[href$=".pdf"]:before {
						@include icons-sprite(pdf-small);
						content: "";
						display: inline-block;
						height: 18px;
						margin-bottom: 1px;
						margin-right: 5px;
						vertical-align: middle;
						width: 15px;
					}
				}
				&.on a,
				a:hover,
				a:active {
					border-color: white;
					color: $active-color;
				}
			}
		}
	}
}
.content-container {
	position: relative;
	.cont {
		@include span(12 of 12);
		.breadcrumbs {
			list-style: none;
			margin: 14px 0;
			padding: 0;
			@include clearfix;
			li {
				float: left;
				max-width: 300px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&:before {
					color: $light-neutral;
					content: '>';
					margin: 0 5px;
				}
				&:first-child:before {
					content: '';
					margin: 0;
				}
				&:last-child a {
					color: $light-neutral;
				}
			}
		}
	}
	.full-spread {
		background-color: $dark-neutral;
		color: white;
		text-transform: uppercase;
		.wrapper {
			background-color: transparent;
			.cont {
				padding: 50px 0;
				&:before {
					content: "";
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
			}
		}
		.investor-cta {
			display: inline-block;
			text-align: center;
			width: 33%;
			vertical-align: middle;
			a {
				color: inherit;
				display: block;
				position: relative;
				&:hover {
					color: $active-color;
					&:after {
						border-top: 10px solid transparent;
						content: "";
						display: block;
						height: 12px;
						margin: auto;
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						width: 18px;
						@include icons-sprite(down-arrow);
					}
				}
			}
		}
	}
}
.homepage-cta {
	background-color: $brand-color;
	color: white;
	width: 100%;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			border-bottom: 1px solid white;
			font: 18px $header-font;
			text-align: center;
			a {
				display: block;
				color: white;
				padding: 15px 0;
				text-decoration: none;
				text-transform: uppercase;
				&:hover, &:active {
					color: $active-color;
				}
			}
		}
	}
}
.latest-news {
	background-color: $lightest-neutral;
	padding: 15px 0;
}
.news-item-container {
	@include span(12);
	.date-container {
		.date {
			color: $dark-neutral;
			font-family: 'latobold';
			margin-bottom: 5px;
		}
	}
	.news-container {
		h2 {
			font-family: $header-font;
			margin: 0;
			a {
				color: inherit;
			}
		}
		p { margin: 10px 0 0 0; color: $light-neutral; }
	}
	.in_the_news & {
		margin: 20px 0;
		.date-wrap a { display: none; }
		.news-container { border-left: 0; }
	}
}

.footer-container {
	background-color: $neutral;
	color: white;
	font-size: 12px;
	width: 100%;
	text-align: center;
	footer {
		@include span(12);
	}
	a {
		color: inherit;
		vertical-align: middle;
		&:hover, &:active { color: $active-color; }
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 10px 0 2px;
		@extend .clearfix;
		li {
			display: inline-block;
			height: 20px;
			padding: 0 5px;
			&:first-child { border-left: 0; padding-left: 0; }
		}
	}
	.info {
		margin-bottom: 10px;
		span {
			margin-left: 7px;
			white-space: nowrap;
			a { vertical-align: top; }
			&:first-child {
				margin: 0 9px 0 0;
			}
		}
	}
	.disclaimer {
		font-size: 11px;
		font-family: latolight;
		margin-bottom: 20px;
	}
	.socials {
		float: none;
		text-align: center;
		ul {
			padding-bottom: 10px;
			li {
				border: 0;
			}
		}
		li a {
			display: block;
			height: 20px;
			width: 21px;
			overflow: hidden;
			text-indent: -9999px;
			vertical-align: middle;
			&.twitter {
				@include icons-sprite(twitter);
				&:hover, &:active { @include icons-sprite(twitter-active); }
			}
			&.linked-in {
				@include icons-sprite(linked-in);
				&:hover, &:active { @include icons-sprite(linked-in-active); }
			}
		}
	}
}

/* ==========================================================================
   Content
   ========================================================================== */

.leadership-headshot {
	float: right;
	margin: 0 0 0 20px;
	max-width: 50%;
}
.for_investors .form-container {
	@include span(6 of 12);
	margin: 20px 0;
	text-align: center;
	.form-button {
		background-color: $link-color;
		display: inline-block;
		width: 100px;
		height: 100px;
		position: relative;
		@include border-radius(50%);
		@include box-shadow(1px 1px 5px 0px rgba(50, 50, 50, 0.75));
		@include transition(background-color 0.3s ease);
		div {
			position: absolute;
			overflow: hidden;
			margin: auto;
			height: 39px;
			width: 33px;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			&.pdf {
				@include icons-sprite(pdf);
			}
			&.form {
				width: 34px;
				@include icons-sprite(form);
			}
		}
	}
	a {
		display: inline-block;
		h3 {
			color: #222;
			margin: 20px 0 5px;
			text-transform: uppercase;
		}
		&:hover .form-button {
			background-color: $active-color;
		}
	}
	p {
		margin: 0;
	}
}
form.full-width {
	.row {
		input, textarea {
			vertical-align: top;
			padding: 15px;
			width: 100%;
		}
		input:not([type="submit"]),
		textarea,
		.select-wrap,
		input[type="radio"] + label,
		input[type="checkbox"] + label {
			color: $neutral;
			background-color: transparent;
			border: 2px solid $lighter-neutral;
			@include border-radius(2px);
			&:focus {
			    outline: none !important;
			    border-color: $light-neutral;
			    box-shadow: 0 0 10px $neutral;
			}
		}
		input[type="checkbox"], input[type="radio"] {
			visibility: hidden;
			width: 40px;
			+ label {
				cursor: pointer;
				display: inline-block;
				margin: 9px 0 9px -40px;
				height: 34px;
				width: 34px;
			}
			&:checked + label, &.checked + label {
				background-color: $link-color;
			}
		}
		input[type="submit"] {
			border: 0;
			background-color: $active-color;
			color: white;
			font-weight: bold;
			min-width: 200px;
			margin-bottom: 20px;
			text-transform: uppercase;
			width: auto;
			@include transition(background-color 0.3s ease);
			&:hover {
				background-color: $link-color;
			}
		}
		.select-wrap {
			background: $lightest-neutral;
			height: 52px;
			overflow: hidden;
			position: relative;
			&:after {
				content: "";
				width: 33px;
				height: 34px;
				top: 0;
				bottom: 0;
				right: 10px;
				margin: auto;
				position: absolute;
				@include icons-sprite(dropdown-arrow);
			}
			select {
				background-color: transparent;
				border: 0;
				color: $neutral;
				height: 100%;
				padding: 2px 10px;
				position: relative;
				vertical-align: middle;
				width: 100%;
				-webkit-appearance: none;
				z-index: 1;
			}
		}
	}
	.row + .row {
		margin-top: 20px;
	}
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@import "partials/intermediate";
@import "partials/wide";
@import "partials/maximal";

@import "partials/helper";
@import "partials/print";
