/* Dave overrides */

header nav .menu-item a {
font-family: "latoregular", helvetica, sans-serif;
/* font-size: .9em;*/
color: #666;
min-width: 100px;
}

header nav .menu-item {
width: 25%;
}


header nav ul .menu-item + .menu-item + .menu-item + .menu-item a {
color: #0065b7;
}

header nav ul .menu-item + .menu-item + .menu-item + .menu-item {
width: 10%;
}


header nav ul .menu-item .item-wrap + .menu-item .item-wrap + .menu-item .item-wrap + .menu-item .item-wrap a {
background: blue;
}
nav .menu-item {
font: 17px "NewsGothicBT-BoldCondensed", arial, sans-serif;
}

p, ul, ol, label, .news-item-container .news-container p {
color: #3e3e3e;
}

.footer-container .wrapper ul {
color: #999999;
}

bold, strong {
font-family: "latobold", helvetica, sans-serif;
}

form.full-width .required {
  color: #002D62;
  font-size: 12px;
}

.for_investors .form-container {
margin: 20px 0 40px 0;
}


.banner-container .notice-container .title {
font-family: "latoregular", helvetica, sans-serif;
font-size: .9em;
text-transform: uppercase;
}

.banner-container .hero-text h2 {
letter-spacing: .5px;
color: #f2f8ff;
}

.banner-container .sub-nav ul li {
font-family: "latobold", helvetica, sans-serif;
margin-right: 25px;
font-size: .9em;
}

.latest-news .news-container h2 {
font-family: "latoregular", helvetica, sans-serif;
font-size: 1.1em;
color: #333;
text-transform: uppercase;
}




@media only screen and (min-width: 1140px) {
.banner-container.big .hero-container {
height: 750px;
}
.banner-container .hero-text h2 {
font-size: 4em;
}
.banner-container .hero-text {
margin-top: 100px;
}

.banner-container .hero-text .hero-cta {
font-size: 30px;
}

}



@media only screen and (min-width: 1900px) {
.banner-container.big .hero-container {
height: 900px;
}
.banner-container .hero-text h2 {
font-size: 5em;
}
.banner-container .hero-text {
margin-top: 150px;
}

}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 479px) {

.banner-container .hero-text h2 {
font-size: 31px;
line-height: 1em;
}
		
.footer-container .info {
padding-top: 10px;
font-size: 13px;
line-height: 1.2em;
}

.latest-news .news-container h2 {
line-height: 19px;
padding-top: 12px;
}

.banner-container .hero-text .hero-cta {
font-size: 20px;
padding: 10px 40px 9px;
}

}


@media print {

img,
header .menu-button,
nav ul,
nav ul li,
.footer-container nav ul,
.footer-container .socials ul,
.footer-container .socials li a,
.menu-slider nav ul li a,
.menu-slider nav ul,
.breadcrumbs { display: none; }

.banner-container .hero-text h2, .title-container .title img { display: block; }

a, a:visited { text-decoration: underline; color: blue; }

}








