// place site wide variables here

$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside,
);

$brand-color: #002D62;
$link-color: #56B3E0;
$active-color: #E7A614;
$neutral: #666666;
$dark-neutral: #333333;
$light-neutral: #999999;
$lightest-neutral: #f5f5f5;
$header-font: 'NewsGothicBT-BoldCondensed', arial, sans-serif;
$body-font: 'latoregular', helvetica, sans-serif;