@media only screen and (min-width: $intermediate) {

/* ====================
    INTERMEDIATE:
   ==================== */
	.notice-container {
		.title {
			@include span(3 of 12);
		}
		.notice {
			@include span(9 of 12);
		}
	}

	.banner-container {
		.hero-text {
			margin-top: 20px;
			h2{ font-size: 37px; line-height: 0.9; }
			.hero-cta { font-size: 20px; }
		}
	}

	.contact_us .address {
		@include span(5 of 12);
	}
	.contact_us .contact-info {
		@include span(7 of 12);
	}
	form.full-width {
		.row {
			@include clearfix;
			> div {
				@include span(5 of 12);
				&:first-child {
					height: 52px;
					&:after {
						content: "";
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}
				}
				> span {
					display: inline-block;
				}
			}
			> div + div {
				@include span(7 of 12);
			}
			label {
				vertical-align: middle;
			}
		}
	}

}
