@media only screen and (min-width: $maximal) {

$footer-height: 100px;

/* ===============
    Maximal Width
   =============== */
	* { margin: 0; }
	html, body {
		height: 100%;
	}

	.body-container {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto (-$footer-height);
		&:after {
			content: "";
			display: block;
		}
		.home & { background-color: $lightest-neutral; }
	}

	.footer-container {
		footer {
			nav {
				float: left;
				text-align: left;
			}
			ul li {
				border-left: 1px solid $light-neutral;
			}
		}
		.socials {
			float: right;
		}
	}
	.footer-container, .body-container:after {
			height: $footer-height;
	}


}
