@media only screen and (min-width: $wide) {

/* ============
    WIDE: Menu
   ============ */

   .container {
		@include container(960px);
	}

	.menu-slider { display: none; }
	.main { position: static; height: 100%; }

	header {
		.menu-button { display: none; }
		.title-container {
			@include span (3 of 12);
			.title {
				margin: 35px 0;
			}
		}
		nav {
			@include span(8 or 12);
			@include last;
			display: block;
			height: 123px;
			.menu-container {
				@include container;
				padding: 0;
				margin: 0;
				height: 100%;
			}
			.menu-item {
				@include span(4 of 12);
				height: 100%;
				position: relative;
				.item-wrap {
					height: 70px;
					margin: auto;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				a {
					border: 6px solid transparent;
					border-width: 6px 0;
					color: $dark-neutral;
					display: inline-block;
					padding: 22px 0;
					text-transform: uppercase;
					@include transition(border 0.3s ease);
					&:hover, &:active {
						border-color: $link-color;
					}
				}
				&.on a {
					border-color: $link-color;
					&:hover, &:active { border-color: $active-color; }
				}
			}
		}
	}
	.banner-container {
		min-height: 75px;
		&.big .hero-container {
			height: 396px;
		}
		.bg-container {
			min-height: 190px;
		}
		.notice-container {
			padding: 20px 0;
			position: absolute;
			top: 0;
			.title {
				font-size: 20px;
			}
			.notice {
			}
		}
		.hero-text {
			margin-top: 79px;
			h2{ font-size: 42px; }
			.hero-cta { font-size: 20px; }
		}
		.sub-nav {
			position: relative;
			@include span(isolate 85% at 7.5% no-gutters);
		}
	}
	.homepage-cta {
		ul li {
			@include span(4 of 12);
			border: none;
			font-size: 20px;
			height: 110px;
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			a {
				display: inline-block;
				vertical-align: middle;
				width: 170px;
			}
		}
	}
	.content-container .wrapper, .footer-container .wrapper {
		@include span(isolate 85% at 7.5% no-gutters);
	}
	.content-container {
		.wrapper {
			background-color: white;
			.cont {
				width: 100%;
				padding: 40px 45px;
			}
		}
		.title {
			margin: 0 0 14px;
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
		.full-spread .wrapper .cont {
			padding: 70px 0;
		}
	}
	.latest-news {
		padding: 36px 0;
	}
	.news-item-container {
		padding: 0;
		.date-container {
			@include span(3 of 12);
			display: inline-block;
			vertical-align: middle;
			float: none;
			text-align: center;
			.date-wrap {
				display: inline-block;
				text-align: left;
			}
		}
		.news-container {
			@include span(9 of 12);
			border-left: 2px solid $light-neutral;
			display: inline-block;
			vertical-align: middle;
			float: none;
			.news-wrap {
				@include nested(9) {
					@include span(11 of 12 wider last);
				}
			}
		}
	}
	.footer-container {
		footer {
			nav {
				float: left;
				max-width: 90%;
				text-align: left;
			}
			ul li {
				border-left: 1px solid $light-neutral;
			}
		}
		.socials {
			float: right;
		}
	}

/* ==========================================================================
   Content
   ========================================================================== */

	.leadership-headshot {
		margin-right: -40px;
	}

	.for_investors .form-container {
		margin-top: 0;
	}
	form.full-width {
		.objectives {
			> div {
				width: 25%;
				margin-bottom: 0;
			}
		}
	}


}
